<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/basic.css')}}" media="all"/>
        <title>Bad Request</title>
    </head>
    <body>
        <header>
            <h1>
                {{Sname}}
            </h1>
            <nav class="navi">
                <a href="/">Home</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
                <!-- <a href="login.html">LogIn</a> -->
            </nav>
        </header>

        <section style="display: flex; justify-content: center; align-content: center;flex-direction: column; background-color: aqua;margin: 5%;">
            <h1 style="display: flex; justify-content: center; align-content: center;">
                Page not found
            </h1>
            <h2 style="display: flex; justify-content: center; align-content: center;" >
                
                Error 404
            </h2>
            
        </section>
    </body>
</html>