<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="description" content="Online tools for Youtube, Instagram, Songs, PDF files for free">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/homeStyle.css')}}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/basic.css')}}" media="all"/>
    <title>Home: {{Sname}}</title>
    <style>
        .tool-box-div{
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: inherit;
            align-items: inherit;
        }
    </style>
</head>

<body>
    <header>
        <h1>
            {{Sname}}
        </h1>
        <nav class="navi">
            <a href="/">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
            <!-- <a href="login.html">LogIn</a> -->
        </nav>
    </header>

    <section class="main-tool-box">
        <a href="YTDownloader.html" title="Currency Convert" class="tool-box">
            <div class="tool-box-div">

                <h3>Youtube Downloader</h3>
                <p>Download youtube videos</p>

            </div>
        </a>
        <a href="instaDownloader.html" title="Instagram Downloader" class="tool-box">
            <div class="tool-box-div">

                <h3>Instagram Downloader</h3>
                <p>Download Instagram Posts</p>

            </div>
        </a>
        <a href="currency-converter.html" title="Currency Convert" class="tool-box">
            <div class="tool-box-div">

                <h3>Currency Converter</h3>
                <p>Conversion in 100+ currencies</p>

            </div>
        </a>
        <a href="/imagetopdf.html" title="Currency Convert" class="tool-box">
            <div class="tool-box-div">

                <h3>Images to PDF</h3>
                <p>Get PDF of images</p>

            </div>
        </a>
        <a href="/encrypt-pdf.html" title="Currency Convert" class="tool-box">
            <div class="tool-box-div">

                <h3>Encrypt PDF</h3>
                <p>Encrypt PDF with Password</p>

            </div>
        </a>
        <a href="#" title="Currency Convert" class="tool-box">
            <div class="tool-box-div">

                <h3>Compress to zip</h3>
                <p>Multiple Files in one</p>

            </div>
        </a>
        <a href="#" title="Currency Convert" class="tool-box">
            <div class="tool-box-div">

                <h3>Image Resize</h3>
                <p>Change Image Resolution</p>

            </div>
        </a>
        <a href="#" title="Currency Convert" class="tool-box">
            <div class="tool-box-div">

                <h3>Song Downloader</h3>
                <p>Download Songs for free</p>

            </div>
        </a>

    </section>

    <footer class="foot">
        <p>
            Site is under development state.
        </p>
    </footer>
</body>
</html>