<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="description" content="Online tools for Youtube, Instagram, Songs, PDF files for free. Download Instagram Posts">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/basic.css')}}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}" media="all"/>
    <style>
        .res_row{
            display: flex;
            justify-content: center;
        }
    </style>
    <title>Instagram Downloader:{{Sname}}</title>
</head>

<body>

    <header>
        <h1>
            {{Sname}}
        </h1>
        <nav class="navi">
            <a href="/">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
            <!-- <a href="login.html">LogIn</a> -->
        </nav>
    </header>

    <section class="main-box">
        <div class="Form" id="instaForm">
            <h1>Instagram Downloader</h1>

            <div class="Frow" style="flex-direction: column;">
                <label for="">Enter Instagram Post Link</label>
                <input type="text" name="postLink" id="postLink">
            </div>
            
            <div class="Frow">
                <input type="button" name="submit" id="submit" value="Get Posts" onclick="callServer();">
            </div>

        </div>
    </section>

    <div id='loading' class="Frow" style="font-size: xx-large;">
        <!-- LOADING -->
    </div>

    <section class="main-box" id="instaResult" style="display: none;">
        <div class="res_row" id="username"></div>
        <!-- Instagram Result -->
    </section>

    <a href="instaProfileDownloader.html" target="_blank">
        <div class="Frow">
            <input type="button" name="ProPic" id="ProPic" value="Profile Picture Downloader">
        </div>
    </a>
    

    <footer class="foot">
        <p>
            Site is under development state.
        </p>
    </footer>
    
</body>



<script>


//for displaying results
function showResult(data){
        try{
            x = document.getElementById("instaResult");
            while(x.lastElementChild){
                x.removeChild(x.lastElementChild);
            }
        }
        finally{

        }
        // document.querySelector('.title-thumb').style.display = 'block';
        //document.querySelector('#username').innerHTML = `<h2>${data.Username}</h2>`;
        // document.querySelector('#thumb').src = data.thumbnail ;
        document.getElementById('loading').textContent = `Username: ${data.Username}`;
        for (let i of data.posts){

            var node = document.createElement("div");
            node.className = 'res_row';

            node.innerHTML = `<a href=${i} target="_blank"><h3>Download</h3></a>`;

            document.getElementById("instaResult").appendChild(node);
        }
    }



    function callServer(){

        var pLink = document.getElementById("postLink").value ;

        xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200){
                // Response receive successsfully
                var response = JSON.parse(this.responseText);
                if(response['Error']) {
                    // document.getElementById('loading').style.display= 'none';
                    document.getElementById('loading').textContent = "Error";
                    // document.getElementById('loading').style.display= 'flex';
                    console.log('error');
                }
                else{
                    //document.getElementById('loading').style.display= 'none';
                    document.getElementById('instaResult').style.display= 'flex';
                    showResult(response);
                }
            }
            if(this.readyState == 1 | this.readyState == 2){
                //add loading circle
                document.getElementById('loading').style.display= 'flex';
                document.getElementById('loading').textContent = 'LOADING';
                document.getElementById('instaResult').style.display= 'none';
            }
        }
        xhr.open('POST','insta-post-result',true);
        xhr.send(pLink);
    }

</script>


</html>